<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CSTFolderPath" value="C:\CST\" />
    <add key="DLLServerAddress" value="http://protoagnostic.cloudapp.net:8700/" />
    <add key="VProgramPath" value="C:\CST\vProgram" />
    <add key="Token" value="NRhFVgSo0khCjh+lhPuhSKb/8wHntjI+"/>
  </appSettings>
</configuration>