<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="CSTFolderPath" value="C:\CST\" />
    <add key="DLLServerAddress" value="http://protoagnostic.cloudapp.net:8700/" />
    <add key="VProgramPath" value="C:\Users\Daniel Song\Desktop\AuthClassLib\src\Examples\FacebookGraphAuth\VProgram" />
    <add key="MyPartyName" value="localhost" />
    <add key="TrustedParty" value="facebook.com"/>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="Token" value="NRhFVgSo0khCjh+lhPuhSKb/8wHntjI+"/>
  </appSettings>
</configuration>