@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +1 800-642-7676
</address>

<address>
    <strong>Daniel Song:</strong>   <a href="mailto:dwsong@rice.edu">dwsong@rice.edu</a><br />
    <strong>Shuo Chen:</strong> <a href="mailto:shuochen@microsoft.com">shuochen@microsoft.com</a>
</address>