@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CIL Respository</h1>
  <!--  <p class="lead">CIL Resposi</p>-->
</div>

<div class="row">
    <div class="col-md-4">
       <!--  <h2>Getting started</h2>-->
        <p>
              <!-- Write here-->
        </p>
    </div>
</div>