<?xml version="1.0" encoding="utf-8"?>                     
<configuration>                     
  <system.web>                     
    <compilation debug="true" targetFramework="4.5" />                     
    <httpRuntime targetFramework="4.5" />                     
  </system.web>                     
  <appSettings>                     
    <add key="CSTFolderPath" value="C:\CST\" />                     
    <add key="DLLServerAddress" value="http://protoagnostic.cloudapp.net:8700/" />                     
    <add key="VProgramPath" value="C:\Users\Daniel Song\Desktop\AuthClassLib\src\Examples\ABC\VProgram" /> 
    <add key="MyPartyName" value="c.com" />                     
    <add key="TrustedParty" value="a.com, b.com"/>                     
    <add key="Token" value="NRhFVgSo0khCjh+lhPuhSKb/8wHntjI+"/>                     
    <add key="vs:EnableBrowserLink" value="false" />                     
  </appSettings>                     
</configuration>                     
